* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: aliceblue; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(220, 229, 233);
  font-variant-numeric: slashed-zero;
  
}

h1 {
  margin-top: 90px;
  text-align: center;
  font-variant-caps:titling-caps  
}

.calculator {
  width: 400px;
  height: 430px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background-color: rgb(61, 60, 60);
  padding: 40px 25px 40px 25px;
  border-radius: 15px;
}

#display {
  width: 350px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: end;
  padding: 25px 10px 35px 0;
  font-size: 24px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
.btn-left {
  width: 75%;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  flex-basis: 75%;
  flex:1;
}
.btn-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: flex-start;
}

button {
  border: none;
  border-radius: 30px;
  padding: 13px;
  color: rgb(33, 31, 31);
  font-size: 20px;
  background-color: white;
  
}

#zero {
  flex-basis: 168px;
}
button:hover {
  transition: 100px;
}

.btn-left button {
  width: 80px;
}

.btn-right button {
  width: 100%;
  background-color: rgb(126, 188, 240);
}

#result {
  background-color: rgb(96, 228, 96);
}
#result:hover {
  background-color: rgb(67, 197, 67);
}
.btn-left button:hover {
  background-color: rgb(224, 219, 219);
}

.btn-right button:hover {
  background-color: rgb(78, 162, 235);
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

#clr-btn {
  color: red;
}
